/* New Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Original CSS + a few small tweaks */

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
  background-color: cadetblue;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
}

/* viewport is 960px or smaller, the image displayed is landscape */

.square {
  display: none;
}

/* viewport is 960px or larger, the image displayed is square */

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
  .square {
    grid-column: 2;
    display: block;
  }
  .landscape {
    display: none;
  }
}
